@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Share+Tech+Mono&display=swap');
html {
    background-color: rgb(245, 245, 238);
}

.siteContainer {
    top: 0;
    left: 0;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: rgb(245, 245, 238);
    color: rgb(27, 17, 2);
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.singlePostViewSiteContainer {
    top: 0;
    left: 0;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: rgb(245, 245, 238);
    color: rgb(27, 17, 2);
}

.siteTitle {
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.leftSidebar {
    width: 300px;
    max-width: 30vw;
    height: fit-content;
    margin-left: 30px;
    margin-top: 50px;
    text-align: center;
}

.leftSidebar img {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.searchBar {
    display: flex;
    margin-left: 55px;
    background-color: transparent;
    
}

.searchBar input {
    font-family: 'Nunito Sans', sans-serif;
    padding: 1px;
    width: 150px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: none;
    padding-inline: 10px;
    border: 1px solid rgba(27, 17, 2, 0.5);
}

.clearButton {
    margin-left: 10px;
    font-size: 12px;
    padding-top: 4px;
}

.clearButton:hover {
    cursor: pointer;
}

.postContainer {
    margin-top: 50px;
    width: 600px;
    text-align: left;
}

.postContainer img {
    border-radius: 10px;
}

.singlePostContainer {
    margin-top: 50px;
    width: 600px;
    margin-left: calc(50vw - 340px);
    text-align: left;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.postTitle {
    text-decoration: none;
    color: rgb(27, 17, 2);
    font-size: 20px;
    margin-top: 20px;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
}

.post {
    text-decoration: none;
    color: rgb(27, 17, 2);
    font-size: 14px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.post img {
    max-width: 100%;
}

.postBox {
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.item-search {
    text-decoration: none;
    color: rgb(27, 17, 2);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.item-search img {
    width: 200px;
    left: 0;
    /* margin-top: 30px; */
}

.item-search-text {
    width: 350px;
}

.item-search h4 {
    font-size: 16px;
}

.item-search p {
    margin-left: 12px;
    font-size: 12px;
}