@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

.siteContainer {
    top: 0;
    left: 0;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: rgb(245, 245, 238);
    color: rgb(27, 17, 2);
    display: flex;
}

.leftSidebar {
    width: 300px;
    max-width: 30vw;
    height: fit-content;
    outline: 1px solid rgba(27, 17, 2, 0.5);
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(27, 17, 2, 0.3);
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.leftSidebar img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}