@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Share+Tech+Mono&display=swap');
html {
    background-color: rgb(245, 245, 238);
    width: 100vw;
    /* height: 100vh; */
    position: absolute;
    top: 0;
    left:0;
}

.siteContainer {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    /* position: absolute; */
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
    height: fit-content;
    background-color: rgb(245, 245, 238);
    color: rgb(27, 17, 2);
    display: flex;
    justify-content: flex-start;
}

.footer {
    margin-left: 40vw;
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 20vw;
    background-color: rgb(221, 203, 167);
    border-radius: 10px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.singlePostViewSiteContainer {
    top: 0;
    left: 0;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: rgb(245, 245, 238);
    color: rgb(27, 17, 2);
}

.siteTitle {
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.leftSidebar {
    width: 300px;
    max-width: 30vw;
    height: fit-content;
    margin-left: 10vw;
    margin-top: 50px;
    text-align: center;
}

.leftSidebar img {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}



.postContainer {
    margin-top: 50px;
    width: 40vw;
    text-align: left;
    margin-left: 10vw;
}

.postContainer img {
    border-radius: 10px;
}

.singlePostContainer {
    margin-top: 50px;
    width: 700px;
    margin-left: calc(50vw - 390px);
    text-align: left;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.postTitle {
    text-decoration: none;
    color: rgb(27, 17, 2);
    font-size: 20px;
    margin-top: 20px;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
}

.post {
    text-decoration: none;
    color: rgb(27, 17, 2);
    font-size: 14px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.post img {
    max-width: 100%;
}

.postBox {
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.item-search {
    text-decoration: none;
    color: rgb(27, 17, 2);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    /* width: 40vw; */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.item-search img {
    width: 15vw;
    left: 0;
    /* margin-top: 30px; */
}

.item-search-text {
    width: 20vw;
}

.item-search h4 {
    font-size: 16px;
    margin-left: 5px;
}

.item-search p {
    margin-left: 10px;
    font-size: 12px;
}

.searchErrorMessage {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color:hsl(0, 0%, 50%);
    font-size: 14px;
}

@media (max-width: 1000px) {
    .siteContainer {
        top: 0;
        left: 0;
        position: absolute;
        font-family: 'Nunito Sans', sans-serif;
        width: 100vw;
        height: fit-content;
        min-height: 100vh;
        background-color: rgb(245, 245, 238);
        color: rgb(27, 17, 2);
        display: block;
    }
    .singlePostViewSiteContainer {
        top: 0;
        left: 0;
        position: absolute;
        font-family: 'Nunito Sans', sans-serif;
        width: 100vw;
        height: fit-content;
        min-height: 100vh;
        background-color: rgb(245, 245, 238);
        color: rgb(27, 17, 2);
    }

    

    .leftSidebar {
        min-width: 100vw;
        height: fit-content;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        margin-left: 0px; 
        margin-top: 120px;  
    }

    .siteTitle {
        font-family: 'Share Tech Mono', monospace;
        font-size: 3em;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        width: 80vw;
        margin-left: 10vw;
    }

    .leftSidebar p {
        font-size: 1.25em;
        width: 80vw;
        margin-left: 10vw;
    }

    .leftSidebar img {
        position: absolute;
        top: 0;
        left: 25vw;
        width: 50vw;
        height: 5%;
        object-fit: scale-down;
    }


    .postContainer {
        position: relative;
        margin-left: 0;
        margin-top: 30px;
        width: 100vw;
        text-align: left;
    }

    .postContainer img {
        border-radius: 10px;
    }

    .singlePostContainer {
        margin-top: 50px;
        width: 75vw;
        margin-left: calc(12.5vw - 40px);
        text-align: left;
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
        margin-bottom: 40px;
    }

    .singlePostContainer p {
        font-size: 1.1em;
    }

    .postTitle {
        text-decoration: none;
        color: rgb(27, 17, 2);
        font-size: 1.5em;
        margin-top: 20px;
        /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
    }

    .postBox {
        width: 80vw;
        margin-left: calc(10vw - 20px);
        margin-bottom: 50px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }

    .post {
        text-decoration: none;
        color: rgb(27, 17, 2);
        font-size: 14px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .post img {
        max-width: 100%;
    }

    .post small {
        font-size: 1em;
    }

    .post p {
        font-size: 1.25em;
    }

    .item-search {
        text-decoration: none;
        color: rgb(27, 17, 2);
        margin-bottom: 50px;
        display: block;
        width: 80vw;
        margin-left: 5vw;
        margin-bottom: 50px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }

    .item-search img {
        width: 100%;
        left: 0;
        /* margin-top: 30px; */
    }

    .item-search-text {
        width: 100%;
    }

    .item-search h4 {
        font-size: 1.25em;
    }

    .item-search p {
        font-size: 1em;
    }
}