.leftSidebar {
    width: 350px;
    max-width: 30vw;
    height: fit-content;
    margin-left: 10vw;
    margin-top: 50px;
    text-align: center;
}

.siteTitle {
    font-family: 'Share Tech Mono', monospace;
    font-size: 45px;
    width: 175px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: right;
    /* margin-left: -10px; */
}

.leftSidebar img {
    /* margin-top: 50px; */
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.titleSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}

.titleDescription {
    text-align: right;
}

.leftSidebarMenu {
    display: flex;
    width: 50%;
    margin-left: 25%;
    justify-content: space-evenly;
    margin-bottom: 20px;
    align-items: baseline;
}

.leftSidebarLink {
    color: #ab9a7a;
    text-decoration: none;
}


.archiveSection {
    margin-right: 20px;
    text-align: right;
    margin-top: 50px;
}

.archiveSectionLink {
    color: #ab9a7a;
    text-decoration: none
}

@media (max-width: 1000px) {

    .leftSidebar {
        min-width: 100vw;
        height: fit-content;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        margin-left: 0px; 
        margin-top: 120px;  
    }

    .siteTitle {
        font-family: 'Share Tech Mono', monospace;
        font-size: 3em;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        width: 80vw;
        /* margin-left: 10vw; */
        margin-top: 5px;
        text-align: center;
        margin-left: 0px;
    }

    .titleDescription {
        text-align: center;
    }

    .leftSidebar p {
        font-size: 1.25em;
        width: 80vw;
        /* margin-left: 10vw; */
    }

    .leftSidebar img {
        position: absolute;
        top: 50px;
        left: 25vw;
        width: 50vw;
        height: 20vh;
        object-fit: scale-down;
    }

    .archiveSection {
        display: none;
    }

}