.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menuViewOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
}


.menuOptions {
    width: 150px;
    /* grid-template-columns: 1fr 2fr; */
    font-size: 16px;
}

.menuOptions:hover {
    cursor: pointer;
}

.menuLocationSelect{
    width: 150px;
    background-color: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    border-radius: 10px;
}

.menuLocationSelect:hover {
    cursor: pointer;
}


.searchBar {
    display: flex;
    /* margin-left: 15px; */
    background-color: transparent;
    color: #ab9a7a;
    
}

.searchBar input {
    font-family: 'Nunito Sans', sans-serif;
    padding: 1px;
    width: 80%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: none;
    padding-inline: 10px;
    border: 1px solid #ab9a7a;
    font-size: 14px;
    transition: width 1s ease-in;
}

.clearButton {
    margin-left: 7px;
    font-size: 12px;
    padding-top: 4px;
    color: #ab9a7a;
}

.clearButton:hover {
    cursor: pointer;
}

.menuSearchIcon {
    margin-top: 10px;
}

.menuSearchIcon:hover {
    cursor: pointer;
}

.disabledGridIcon {
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .menuContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 10px;
        width: 90vw;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    
    .menuOptions {
        width: 100vw;
        /* grid-template-columns: 1fr 2fr; */
        font-size: 16px;
    }
    
    .menuOptions div:hover {
        cursor: pointer;
    }
    
    .menuLocationSelect{
        width: 200px;
        height: 40px;
        margin-left: calc(100vw - 260px);
        background-color: none;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1em;
        border-radius: 10px;
    }

    .searchBar {
        display: none;
        width: 10vw;
        background-color: transparent; 
        margin-left: 0px;   
        color: #ab9a7a;
    }
    
    .searchBar input {
        font-family: 'Nunito Sans', sans-serif;
        padding: 1px;
        width: 30vw;
        margin-left: 0px;
        height: 30px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: none;
        padding-inline: 10px;
        border: 1px solid rgba(27, 17, 2, 0.5);
        font-size: 16px;
    }
    
    .clearButton {
        font-size: 16px;
        padding-top: 8px;
        margin-left: 0;
        color: #ab9a7a;
    }
    
    .clearButton:hover {
        cursor: pointer;
    }

    .menuSearchIcon {
        display: none;
    }
}